

<h2> This home page should list all of the trip IDEAS </h2>

<p>PROFILE INFO</p>
<ul>
	<li>USER LOG IN / CURRENT USER</li>
	<li>SIGN UP / LOG OUT</li>
</ul>

<p>SEARCH FUNCTION</p>

<p>IDEA FEED</p>

<% @ideas.each do |idea| %>
	<%= render(idea) %>
<% end %>
